body {
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 20px; 
    padding-bottom: 20px
}

h1 {
    font-weight: bold;
}

.muted {
    color: rgb(129, 129, 129);
    font-size: small;
}